body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: arial, "Noto Sans", 微軟正黑體, sans-serif;
    /* Graphics Designed By 30000009006 From <a href="https://zh.lovepik.com/image-401167375/cherry-tree.html">LovePik.com</a> */
    background-image: url("../pics/Lovepik_com-401167375-cherry-tree.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

header {
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    margin: 30px 0 0 0;

    nav {
        width: 1100px;
        height: 40px;
        background-color: #f2f2f2;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        padding: 5px 10px 0 10px;
        box-shadow: 5px 5px 3px lightblue;

        .logo {
            display: flex;
            align-items: center;
    
            i {
                color: #6EAC7D;
                font-size: 40px;
            }
        }

        .menu ul {
            display: flex;
            align-items: center;
        }

        .menu ul li {
            padding: 0.25rem 0.9rem;
            margin: 0 1.5rem;
            border-radius: 20px;
            a {
                color: #333333;
                text-decoration: none;
            } 
        }

        .menu ul li:hover {
            background-color: #ffffffaf;    
        }
    }
}




.burgerLink {
    display: none;
}

main {
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 50px 10px 0 10px;

    
}

.singleCard {
    width: 32%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffe0;
    margin: 0 1.333% 1.333% 0;
    border-radius: 15px;
    box-shadow: 5px 5px 3px rgba(228, 173, 230, 0.658);
    color: #333;
    font-weight: bold;
}

.singleCard:hover{
    background-color: #ffffff;
}

@media (max-width: 880px){
    .singleCard{
        width: 48%;
    }
}

@media (max-width: 600px){
    main {
        max-width: 400px;
    }
    .singleCard{
        width: 100%;
        max-width: 400px; 
    }
}


@keyframes scaleUp {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}